*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    color: #03e9f4;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: #03e9f4;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;    
}

.container{
    box-sizing: border-box;
    margin: 0 90px;
    max-width: 1400px;  
}

.navbar{ 
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.logo{
    margin: 0;
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    color: #03e9f4;
}

.nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 520px;
    font-size: 20px;
    letter-spacing: 3px;
}

.nav-item{
    list-style: none;
    transition: 0.2s ease-in-out;
}

.nav-item:hover{
    transform: scale(1.2);
}

.nav-link{
    color: white;
    text-decoration: none;  
    transition: 0.2s ease-in-out ;  
}

.nav-link:hover{
    color: #03e9f4;
}

h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
    letter-spacing: 2px;
}

.info{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 75px;
}

.info-section{
    font-size: 23px;
    color: white; 
    letter-spacing: 1px;
    font-weight: lighter;
    padding-left: 50px;
    line-height: 1.5em;
    text-align: left;
}

.p1{
    padding-top: 50px;
}

.image{
    user-select: none;
    border-radius: 10%;
}

.footer{
    text-align: center;
    align-items: center;
    border-top: 1px;
    border-color: grey;
    border-style: solid;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
}

.footer-text{
    font-size: 17px;
    color: rgb(212, 212, 212); 
    padding-bottom: 17px; 
    padding-top: 11px;
    letter-spacing: 0.5px;
}

.name{
    text-decoration: none;
    color: white;
    font-weight: bolder; 
    transition: 0.2s ease-in-out; 
}

.name:hover{
    color: #03e9f4;
}

.heartlogo{
    position: relative;
    top: 7px;
}

