*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;   
}

.container{
    box-sizing: border-box;
    margin: 0 90px;
    max-width: 1400px;  
}

.navbar{ 
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 20px;      
}

.logo{
    margin: 0;
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
}

.logo:hover{
    color: aqua;
}

.nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 500px;
    font-size: 20px;
    letter-spacing: 3px;
    margin-right: -17px !important;
}

.nav-item{
    list-style: none;
    transition: 0.5s ease-in-out;
}

.nav-item:hover{
    transform: scale(1.2);
}

.nav-link{
    color: white;
    text-decoration: none;
    margin: 0;  
    transition: 0.5s ease-in-out ;  
}

.nav-link:hover{
    color: aqua;
}

h3{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 80px;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;
}

h3:hover{
    color: aqua;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 150px;
}

.info-section{
    font-size: 22px;
    color: white; 
    letter-spacing: 2px;
    font-weight: lighter;
    padding-left: 40px;
}

.footer{
    text-align: center;
    border-top: 0.1px;
    border-color: grey;
    border-style: solid;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
}

.footer-text{
    font-size: 18px;
    color: white;
    text-decoration: none; 
    padding-bottom: 20px; 
    padding-top: 20px;
}

.name{
    text-decoration: none;
    color: white;
    font-weight: bolder; 
    transition: 0.3s ease-in-out; 
}

.name:hover{
    color: aqua;
}

