*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    color: #03e9f4; 
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;   
}

.container{
    box-sizing: border-box;
    margin: 0 90px;
    max-width: 1700px;  
}

.navbar{ 
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.logo{
    margin: 0;
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    color:#03e9f4;
}

.nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 520px;
    font-size: 20px;
    letter-spacing: 3px;
}

.nav-item{
    list-style: none;
    transition: 0.2s ease-in-out;
}

.nav-item:hover{
    transform: scale(1.2);
}

.nav-link{
    color: white;
    text-decoration: none;  
    transition: 0.2s ease-in-out ;  
}

.nav-link:hover{
    color: #03e9f4;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;  
}

h1{
    color: white;
    font-size: 80px;
}

h2{
    color: rgb(131, 131, 131);
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    padding-top: 20px;
}

h3{
    color: rgb(131, 131, 131);
    font-size: 20px;
    line-height: 1.75em;
    font-weight: lighter;
    letter-spacing: 0.5px;
}

.both-buttons{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 50px;
    width: 600px;
}

.section2-btns{
    color:white;
    letter-spacing: 5px;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 30px 70px;
    background-color:rgb(43, 43, 43);
    transition: .3s ease-in-out;
}

.section2-btns:hover{
    color: black;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #0007); 
}

.about:hover{
    background-color:rgba(149, 29, 235, 255);
    box-shadow: 0px 0px 50px 0px rgba(149, 29, 235, 255);
}

.about::selection{
    color: rgba(149, 29, 235, 255) ;
    background-color:rgb(43, 43, 43);
}

.portfolio:hover{
    background-color: rgba(23, 243, 84, 255);
    box-shadow: 0px 0px 50px 0px rgba(23, 243, 84, 255);   
}

.portfolio::selection{
    color: rgba(23, 243, 84, 255);
    background-color:rgb(43, 43, 43) ;
}

.social-media{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 300px;
    margin-top: 80px; 
}

.social-media-logo{
    width: 35px;
    transition: 0.25s ease-in-out;
}

.social-media-logo:hover{
    transform: scale(1.3);
    color: #03e9f4;
}   

.image{
    width: 500px;
    border-radius: 100%;
}