/* styles for home section begins */

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;  
}

.info_name{
    color: white;
    font-size: 75px;
    cursor: default;
}

.info_age{
    color: rgb(131, 131, 131);
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    padding-top: 20px;
    cursor: default;
}

.info_welcome{
    color: rgb(131, 131, 131);
    font-size: 20px;
    line-height: 1.75em;
    font-weight: lighter;
    letter-spacing: 0.5px;
    cursor: default;
}

.section2_btns{
    display: flex;
    width: 99%;
    justify-content: space-between;
    margin-top: 50px;
}

.section2-btn{
    color:white;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 30px 71px;
    background-color:rgb(43, 43, 43);
    transition: .3s ease-in-out;
}

.section2-btn:hover{
    color: black;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #0007); 
}

.about:hover{
    background-color:rgba(149, 29, 235, 255);
    box-shadow: 0px 0px 50px 0px rgba(149, 29, 235, 255);
}

.about::selection{
    color: rgba(149, 29, 235, 255) ;
    background-color:rgb(43, 43, 43);
}

.portfolio:hover{
    background-color: rgba(23, 243, 84, 255);
    box-shadow: 0px 0px 50px 0px rgba(23, 243, 84, 255);   
}

.portfolio::selection{
    color: rgba(23, 243, 84, 255);
    background-color:rgb(43, 43, 43) ;
}

.social_media_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin-top: 75px; 
}

.social_media_link path{
    transition: 0.4s ease-in-out;
}

.social_media_link svg:hover path{
    fill: #03e9f4;
}   

.image{
    width: 500px;
    border-radius: 50%;
}

/* styles for about page begins */

#about-me{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 2px;
    cursor: default;    
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.info-section{
    font-size: 19px;
    color: white; 
    font-weight: 100;
    margin-left: 50px;
    line-height: 1.5em;
    text-align: left;
    text-align: justify;
}

.p1{
    margin-top: 50px;
}

/* stles for portfolio page begins */

.portfolio_title{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    cursor: default;
}

.portfolio_desc{
    margin: 20px 0;
    text-align: center;
    color: #04E6F1;
    font-size: 30px;
    cursor: default;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
    margin: 75px 0;
}

.boxes_left_img{
    width: 675px;
    height: 375px;
}

.boxes_right{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 40px;
}

.boxes_right_title{
    margin-bottom: 15px;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
}

.boxes_right_description{
    margin-bottom: 35px;
    color: rgb(170, 170, 170);
    font-size: 17px;
    line-height: 1.5em;
    letter-spacing: .5px;
}

.boxes_right_btns{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.boxes_right_button{
    padding: 17px 39px; 
    color: #fff;
    background-color: rgb(43, 43, 43);
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    border: none;
    transition: .2s ease-in-out;
}

.boxes_right_button i{
    margin-left: 3px;
}

.btn_right{
    background-color: #03e9f4;
    color: #000;
}

.boxes_right_button:hover{
    opacity: .7;
}

/* styles for blog section begins */

#blogs{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
    cursor: default;
}

#articles{
    color: #03e9f4;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    margin: 20px 0;
    cursor: default;
}