*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    color: #03e9f4; 
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: #03e9f4;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;   
}

.container{
    box-sizing: border-box;
    margin: 0 90px;
    max-width: 1700px;  
}

.navbar{ 
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.logo{
    margin: 0;
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    color:#03e9f4;
}

.nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 500px;
    font-size: 20px;
    letter-spacing: 3px;
}

.nav-item{
    list-style: none;
    transition: 0.2s ease-in-out;
}

.nav-item:hover{
    transform: scale(1.2);
}

.nav-link{
    color: white;
    text-decoration: none;  
    transition: 0.2s ease-in-out ;  
}

.nav-link:hover{
    color: #03e9f4;
}

.portfolio_title{
    color: white;
    margin-top: 80px;
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

.portfolio_desc{
    color: #04E6F1;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.boxes{
    display: flex;
    align-items: center;
    margin: 120px 100px;
}

.boxes_left_img{
    width: 675px;
    height: 375px;
}

.boxes_right{
    width: 550px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.boxes_right_title{
    font-family: sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 30px;
    margin: 15px 0;
}

.boxes_right_description{
    color: rgb(170, 170, 170);
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    letter-spacing: .5px;
    margin-bottom: 45px;

}

.boxes_right_button{
    text-decoration: none;
    padding: 17px 39px; 
    border: 1px solid white;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0px;
    font-weight: lighter;
 }

 .boxes_right_button svg{
    position: relative;
    top: 7px;
    margin-left: 3px;
 }  

.btn_right{
    background-color: #03e9f4;
    color: #000;
    border: none;
    font-family: sans-serif;
    margin-left: 30px;
    transition: .2s ease-in-out;
}

.btn_left{
    background-color: rgb(43, 43, 43);
    color: #fff;
    border: none;
    font-family: sans-serif;
    transition: .2s ease-in-out;
}

.btn_left:hover, .btn_right:hover{
    opacity: .7;
}

.footer{
    text-align: center;
    align-items: center;
    border-top: 1px;
    border-color: grey;
    border-style: solid;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
}

.footer-text{
    font-size: 17px;
    color: rgb(212, 212, 212); 
    padding-bottom: 17px; 
    padding-top: 11px;
    letter-spacing: 0.5px;
}

.name{
    text-decoration: none;
    color: white;
    font-weight: bolder; 
    transition: 0.2s ease-in-out; 
}

.name:hover{
    color: #03e9f4;
}

.heartlogo{
    position: relative;
    top: 7px;
}